[Unit]
Description=Test Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/rpi_check.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
